<form *ngIf="isAuthenticated()" class="container border p-lg-3">
    <div class="row">
        <div class="col m-3">
            <span *ngIf="quiz.id">
                <h3>Yangilash</h3>
            </span>
            <span *ngIf="!quiz.id">
                <h3>Yangi</h3>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="quiz" class="form-label">Question</label>
            <input [(ngModel)]="quiz.title" name="quiz" class="form-control" id="quiz" placeholder="Sarloha"
                type="text">
        </div>
        <div class="col m-3 row">
            <button class="btn border col m-1" (click)="post()">Jo'natish</button>
            <button class="btn border col m-1" (click)="yangilash()">Yangilash</button>
            <button [disabled]="!quiz.id" class="btn border col m-1" (click)="navigateToQuestions()">Savollar</button>
        </div>
    </div>
</form>