<div class="container m-3 p-3 border">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="row"> 
            <div class="col">
                <label for="email">Email</label>
                <input formControlName="email" type="text" id="email" class="form-control" placeholder="E-mail">
                <span class="alert" *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched">
                    <div class="alert alert-danger">to'ldirirsh majburity</div>
                </span>
            </div>
            <div class="col">
                <label for="password">Password</label>
                <input formControlName="password" type="text" id="password" class="form-control" placeholder="Password">
                <span class="alert" *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched">
                    <div class="alert alert-danger"> Passwordni to'ldirirsh majburity</div>
                </span>
            </div>
            <div class="col">
                <button class="btn btn-primary">Kirish</button>
            </div>
        </div>
    </form>
</div>